@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$main-font: "Roboto", sans-serif;
$main-font-color: black;
$second-font-color: white;
$main-color: white;
$second-color: #1f4468;

html {
  font-size: 10px;
}

body {
  color: $main-font-color;
  font-family: $main-font;
}

a {
  text-decoration: none;
}

.nav-container {
  height: 8.1rem;
  background-color: $second-color;
  color: $second-font-color;
  position: fixed;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-link {
  font-size: 2rem;
  margin-right: 6.3rem;
  position: relative;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link::after {
  content: " ";
  height: 1px;
  background-color: $second-font-color;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}

.nav-active::after {
  content: " ";
  height: 1px;
  background-color: $second-font-color;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero-container {
  color: $second-font-color;
  height: 100vh;
  background: url(../assets/hero-bg.png) center no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 2000px inset;
}

.hero-main-title {
  font-size: 4rem;
  margin-bottom: 2.8rem;
}

.hero-sub-title {
  font-size: 3.2rem;
}

.intro {
  padding: 11.3rem 0rem;
}

.intro-title {
  font-size: 4rem;
  margin-bottom: 11.2rem;
  font-weight: bold;
}

.intro-description {
  font-size: 4rem;
  text-align: left;
  flex-basis: 50%;
}

.intro-img {
  flex-basis: 50%;
}

.intro-img img {
  width: 100%;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.divider-container {
  height: 35.4rem;
  background: url(../assets/divider1.png) center no-repeat;
  background-size: cover;
  color: $second-font-color;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 2000px inset;
}

.divider-2 {
  background: url(../assets/divider2.png) center no-repeat;
}

.divider-3 {
  background: url(../assets/divider3.png) center no-repeat;
}

.divider-title {
  font-size: 3.2rem;
}

.locate {
  padding: 11.3rem 0rem;
}

.locate-description {
  font-size: 2.28rem;
  flex-basis: 50%;
}

.locate-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.locate-sub-title {
  font-size: 3rem;
  margin-bottom: 4rem;
}

.locate-list-icon {
  margin-top: 5.9rem;
}

.locate-grid {
  .col {
    background-color: black;
    padding: 1.2rem 1.3rem;
    font-size: 2.5rem;
    color: white;
    display: flex;
    font-weight: bold;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    img {
      margin-right: 3rem;
    }
    ul {
      font-size: 2rem;
    }
  }
}

.city-icon {
  background-image: linear-gradient(-45deg, #56ccf2, #2f80ed);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.park-icon {
  background-image: linear-gradient(-45deg, #dce35b, #45b649);
}

.hospital-icon {
  background-image: linear-gradient(-45deg, #ee0979, #ff6a00);
}

.university-icon {
  background-image: linear-gradient(-45deg, #2bc0e4, #86a8e7, #91eae4);
}

.airport-icon {
  background-image: linear-gradient(-45deg, #ff9966, #ff5e62);
}

.bar-icon {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

.priceImg-container {
  flex-basis: 50%;
}
.price-content {
  flex-basis: 50%;
}
.mySwiper {
  max-width: 950px;
  max-height: 672px;
}

.mySwiper2 {
  height: 750px !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide-2 {
  flex-direction: column;
  margin-right: 1rem;
  .row {
    .col {
      padding: 0;
      margin: 0.5rem;
    }
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price-section {
  padding: 10rem 0rem;
}

.price-header {
  font-size: 4rem;
  font-weight: bold;
}

.price-parapharph {
  font-size: 2.5rem;
}

.price-content {
  padding: 0rem 2.5rem;
}

.price-list {
  font-size: 2.5rem;
}

.swiper-button-next,
.swiper-button-prev {
  color: black !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px !important;
  opacity: 0.5;
}

.contact-container {
  background-color: $second-color;
  color: white;
}

.contact-map {
  flex-basis: 50%;
  padding: 0rem 5rem;
}

.contact-form {
  flex-basis: 50%;
}

.contact-header {
  font-size: 4rem;
  margin-bottom: 4.5rem;
}

.contact-line {
  display: flex;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 1.7rem;
  img {
    margin-right: 1.4rem;
  }
}

.form-title {
  font-size: 3.2rem;
  margin-bottom: 2.5rem;
}
.form {
  color: black;
  h2 {
    color: white;
  }
  input {
    width: 60rem;
    font-size: 2rem;
    height: 50px !important;
  }
}

.form-floating {
  label {
    font-size: 2rem;
    opacity: 0.5;
  }
}

.form-control:not(:placeholder-shown) ~ label {
  transform: scale(0.85) translateY(-1.25rem) translateX(0.15rem) !important;
}

.form-control:focus ~ label {
  transform: scale(0.85) translateY(-1.25rem) translateX(0.15rem) !important;
}

.form-btn {
  padding: 12px 52px;
  border: none;
  background-color: #0d1c2c;
  color: white;
  font-size: 1.5rem;
  transition: all 0.3s;
  &:hover {
    background-color: #070e16;
  }
}

footer{
  div{
    padding: 2.4rem 0rem;
    color:white;
    background-color: #050b11;
    font-size: 2.5rem;
  }
}

@keyframes changeBgHero {
  0% {
    background: url(../assets/hero-bg.png) center no-repeat;
    background-size: cover;
  }
  25% {
    background: url(https://c1.wallpaperflare.com/path/873/892/1024/the-city-ho-chi-minh-the-street-vietnam-3f479187f0d1e8288c8becb48fe332bd.jpg)
      center no-repeat;
    background-size: cover;
  }
  50% {
    background: url(https://c1.wallpaperflare.com/path/421/475/679/saigon-street-vietnam-asia-90dbe7c6fd8840c367c90806f73c4003.jpg)
      center no-repeat;
    background-size: cover;
  }
  75% {
    background: url(https://c1.wallpaperflare.com/path/1019/741/89/the-city-ho-chi-minh-the-street-vietnam-7f67f1a7c071d8f86ccb2c246f73e25d.jpg)
      center no-repeat;
    background-size: cover;
  }
  100% {
    background: url(https://r4.wallpaperflare.com/wallpaper/790/573/237/cities-ho-chi-minh-city-saigon-river-vietnam-wallpaper-147e32f3b5fe0553c10bab9562b941d9.jpg)
      center no-repeat;
    background-size: cover;
  }
}
